{% extends 'events/base.html' %}
{% block content %}
{% extends 'users/base.html' %}
{% block content %}
<div class="container mt-4">
<div class="row justify-content-center">
<div class="col-md-10">
<h1 class="mb-4">{% if event %}Edit{% else %}Create{% endif %} Event</h1>
<form method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-white">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-custom mt-3">{% if event %}Update{% else %}Create{% endif %} Event</button>
</form>
{% endblock %}
{% endblock %}
</div>
</div>
</div>
{% endblock %}
